@import "../../../node_modules/reset-css/sass/reset";
@import "header";
@import "card";

html {
  font-family: "Roboto", sans-serif;
}

.main {
  &__catalog {
    margin: 50px auto;
  }
}

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: 50px 48px;
}
